body{
    background-color: black;
}

.outer{
    width: 100vw;
    height: 100vh;
}

.nav{
    width: 100%;
    background-color: black
}

a{
    color: white;
}

li {
    display: inline-block;
    font-size: 300%;
    padding: 15px 20px;
    text-decoration: none;
}

li:hover{
    background-color: crimson
}

.button{
    position: absolute;
    left: 92%;
    top: 3%;
    width: 8%;
    height: 8%;
    border-radius: 15px;
}

.get{
    background-color: crimson;
    border-radius: 15px;
    width: 20%;
    height: 8%;
    text-align: center;
    font-size: 280%;
    font-weight: 600;
}

.card{
    position: absolute;
    background-color: black;
    width: 55%;
    height: 25%;
    top: 85%;
    left: 3%;
    font-size: 150%;
}

.card1{
    background-color: yellow;
    width: 27%;
    height: 70%;
    margin-top: 2.5%;
    margin-left: 2%;
    border-radius: 15px;
}

.card2{
    background-color: crimson;
    position: absolute;
    width: 27%;
    height: 70%;
    margin-top: 2.5%;
    border-radius: 15px;
    left: 36%;
}

.card3{
    background-color: greenyellow;
    position: absolute;
    width: 27%;
    height: 70%;
    margin-top: 2.5%;
    border-radius: 15px;
    left: 70%;
}

.search{
  height: 62px;
  border-radius: 15px;
  position: absolute;
  width: 10%;
  left: 81%;
  top: 3%;
  font-size: 150%;
  text-align: center;
  font-weight: 500;
}

.heading{
    font-size: 400%;
    font-weight: bold;
}

.button{
    height: 62px;
    width: 7%;
    border-radius: 15px;
    font-size: 200%;
    position: absolute;
    left: 92%;
    top: 3%;
    /* width: 8%;
    height: 8%;
    border-radius: 15px; */
  }

#country{
    margin-top: 3%;
    margin-left: 5%;   
    font-size: 300%; 
    font-weight: bold;
}

.para{
    font-size: 230%;
}

.btn{
    width: 10%;
    height: 10%;
    font-size: 210%;
    font-weight: 500;
}


@media (max-width: 470px){
    li {
        display: block;
        font-size: 350%;
        padding: 3px 2px;
    }

    .get{
        width: 90%;
        height: 20%;
        font-size: 300%;
        font-weight: 600;
        text-align: center;
    }
   
    .card {
        position: absolute;
        background-color: black;
        width: 220%;
        height: 25%;
        top: 177%;
        left: 3%;
        font-size: 110%;
        font-weight: 800;
    }

    .card1,.card2,.card3{
        font-weight: 900;
    }
    
.search {
    height: 10%;
    border-radius: 15px;
    position: absolute;
    width: 45%;
    left: 120%;
    top: 3%;
    text-align: center;
    font-size: 230%;
    font-weight: 600;
}

.button {
    height: 10%;
    width: 45%;
    font-size: 245%;
    position: absolute;
    left: 170%;
    top: 3%;
}

.heading{
    font-size: 380%;
    padding: 1px 2px; 
}

#country {
    margin-top: 20%;
    margin-left: 11%;
    font-size: 250%;  
}

.btn{
    width: 50%;
    height: 10%;
    font-weight: 400;
    font-size: 210%
}

.para{
    font-size: 230%;
}

}